* {    box-sizing: border-box;    margin: 0;    padding: 0; }
* {    outline: 1px solid red;  } /* ver el espacio ocupado por los elementos */

header{
    background-color: aquamarine;
}

aside{
    background-color: brown;
    display: inline-block;
}

main{
    background-color: lightgreen;
    display: inline-block;
    margin: 15px;
    padding: 5px;
}

footer{
background-color: lightgray;
color:darkgoldenrod;
text-align: center;
}

.main-nav{
    background-color: peachpuff;
    padding: 1px;
    text-align: center;
    display: inline-block;
    float: right;
}

.main-nav__item{
    display: inline-block;
    padding: .3rem;
    border-radius: .3rem;
    background-color: cadetblue;
    color: lightgoldenrodyellow; /* color de texto */
    list-style-type:none;
    
}

.logo{
    background-color: bisque;
    display: inline-block;
    font-size: .6rem;
    padding: 2px;
    margin: 10px;
}

.lat-bloc{
    display: inline-block;
    background-color: green;
    
    height: 60%;
    max-width: 45px;
    padding: 10px;
}

.lat-bloc__item{
    display: inline-block;

    background-color: blue;
    margin: 10px;
    padding: 10px;
}


