.estilo_caja{
    background: orange;
    width: 400px;
    height: 300px;
    box-shadow: 3px 3px 3px #000;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    border-left: 1px solid black;
    border-top: 1px solid black ;
}

.s{
    color: black;
    text-shadow: 1px 1px 1px #000;
    font-family: Calibri;
}

.estilo_titulo{
    color: red;
    text-shadow: 1pc 1px 1px #000;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    margin: 20px;
}