@charset "utf-8"
/* Reset document CSS*/
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 1.4em; list-style: decimal; }
ul { padding-left: 1.4em; list-style:square; }
q:before, q:after { content:''; }
/* fin del reset CSS*/

body{
    font-size: 62.5%;
}

h1{
    font: normal 2.4em Verdana, Geneva, sans-serif;
    background-image: linear-gradient(to bottom, #00F, #0CF);
    width: 35%;     /* ancho del cuadro */
    border-radius: 10px;
    margin: 25px auto;  /* centra el cuadro */
    text-align: center;
    padding: 15px;/* estable la distancia del borde del box al contenido (margen interno)*/
    color: #FFF; /* fuente */
    box-shadow: #00F, 5px, 5px, 10px;/* sombra difuminada */
    text-shadow: #FFF,2px,2px,3px;
}

h2{
   font: bold 1.7em Verdana, Geneva, sans-serif; 
   margin: 0px;
   padding: 5px, 0 5px 0px;
   color:  #000;
}

section{
    width: 91%;
    border-top: 1px dashed gray;
    margin: 15px auto;
}

figure{
    float: left; /* permite que el contenido aparezca rodeandole. El elemento flota */
}

figure img{ /* aplica el estilo a las etiquetas img hijas de la etiqueta figure; selector descendiente */
    padding: 4px;
    background: gray;
    border-radius: 20px;
    box-shadow: rgb(84, 89, 90) 3px 5px 20px;
}

figure img:hover{ /* pseudoclase para el estado hover (pasar el cursor por encima) */
    transform: scale(1.2); /* crece la imagen 1.2 al enfocarla */
    transition: transform 0.3s ease-in-out 0.1s; /* suaviza la transicion al enfocar y desenfocar */
}

figcaption{
    font-family: Arial, Helveltica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;
}

footer{
    clear: both; /* rompe el float de la etiqueta figure */
    padding-top: 75px;
}

footer p{
    font: 1.6em Georgia;
    color: gray;
    margin: 10px 8px;
}
