/*
El codigo CSS puede colocarse en:
    Un archivo independiente con extension css
    Dentro de la etiqueta head en la cabecera del documento html
    Estilo inline dentro de la etiqueta

    selector {atributos con comentarios sobre codigo antiguo}
    selector{propiedad:valor}
*/
@charset "utf-8";

body {
    background-color: #f5f5dc;  /* <body bgcolor="#f5f5dc">*/
}

/* selector de etiqueta*/
header{
    background-color: aquamarine;
}

/*selector de id*/
#CabeceraWeb{
    background-color: burlywood;
}

#navegacion{
    background-color: red;
}

#BarraLateral{
    background-color: grey;
    float: left;/* cambia el flujo u orden de aparicion del elemento*/
    height: 750px; /* cambia el tamaño de la barra lateral */
}

#contenidoPrincipal{
    background-color: cadetblue;
    margin-left: 210px; /* establece un margen desde el borde de la pagina*/
    padding-left: 15px; /* margen interior izquierdo de la caja, distancia entre el borde y el texto */
}

#piePrincipal{
    background-color: yellowgreen;
    clear: both;
    margin-top: 20px;
}

li{
    background-color: yellow;
    display: inline;    /* convierte la etiqueta block en inline, por lo que ocupara solo el ancho del texto */
    
}
